<% provide(:title, "index") %>
<h1>出勤中社員一覧</h1>

<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <th>社員番号</th>
      <th>名前</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>  
  </table>
</div>