/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}