/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* ユーザー勤怠情報テーブル */

#table-attendances {

  margin-top:10px;

  th {
    vertical-align: bottom;
    text-align: center;
    margin-top: 20px;
    
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
    // class="line"の行の奇数列に色をつける
    .line tr:nth-child(odd) td{
      background: #f8f8f8;
    }

    .maru {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
    .size_small{
      width: 18px;
      height: 18px;
    }
    .letter3 {
      font-size: 0.7em;
      line-height: 1.5em;
    }
    .black {
      color: black;
      border: 1px solid black;
    }
}

#table-attendance-index {

  th {
    vertical-align: bottom;
    text-align: center;
    margin-top: 20px;
    background-color:blue ;
    
  }
  td {
    vertical-align: bmiddle;
    text-align: center;
    background-color:blue ;
  }
}


/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}