<% provide(:title, "拠点情報一覧") %>
<h1>拠点一覧</h1>

<table class= "table table-bordered table-condensed table-hover" id="bases">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>拠点番号</th>
      <th>拠点名</th>
      <th>拠点情報</th>
    </tr>
  </thead> 
  <tbody>
    <tr class= "active">
      <td> <%= link_to "修正","#",class: "btn btn-primary" %></td>
      <td> <%= link_to "消去","#",class: "btn btn-primary" %></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn">
<%= link_to "追加" ,new_user_basis_path,class: "btn btn-primary" %></p>
 </button>
