<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "勤怠システム", '/', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "トップ",   '/' %></li>
        <li><%= link_to "ログイン", '/login' %></li>
      </ul>
    </nav>
  </div>
</header>